body {
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

#board {
    width: 90vw;         /* ikut lebar layar HP */
    height: 90vw;        /* biar tetap kotak */
    max-width: 450px;    /* batas maksimal di PC */
    max-height: 450px;
    background-color: lightblue;
    border: 5px solid slategray;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: calc(90vw / 9);   /* otomatis hitung per kotak */
    height: calc(90vw / 9);
    max-width: 50px;
    max-height: 50px;
    touch-action: none;      /* penting untuk mobile drag */
}
